# Node.js specific files
node_modules/
npm-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db

# Log files
logs/
*.log

# IDE specific files
.idea/
.vscode/

# Testing files
coverage/

# Build files
dist/
build/

# Editor-specific files
.DS_Store
.vimrc
.viminfo
.swp